<%- include("templates/encabezado")%>
<h1>Bienvenido a SAT-BD.</h1>
<br><br>
<h2>INTRODUCCIÓN:</h2>
<br>
<p>Este proyecto tiene como objetivo desarrollar una aplicación en NodeJS que permita a los usuarios gestionar bases de datos MySQL de manera sencilla e intuitiva. La aplicación proporcionará una interfaz amigable que facilitará la administración de bases de datos, permitiendo realizar diversas operaciones como la creación y modificación de bases de datos y tablas, así como la gestión de registros.</p>
<br><br>
<p>Este proyecto no solo permitirá a los usuarios gestionar sus bases de datos de manera eficiente, sino que también se enfocará en la seguridad y validación de datos tanto en el frontend como en el backend, asegurando así una robusta administración de la información.</p>
<br><br>
<p>Este proyecto fue realizado por los alimnos 
    <br><br>
    Mario Alberto Ojeda Hernandez
    <br><br>
    Antonio Jesus Hernandez Orozoco<br><br>
    SANTIAGO BARRETO OCAMPO
    <br><br>
</p>
<br><br>
<%- include("templates/pie")%>