<%- include("templates/encabezado")%>
<div class="content">
    <h2>Consultas en la Tabla</h2>
    <div id="table-name"></div>
    <!-- Aquí se mostrarán las consultas y resultados -->
</div>
<%- include("templates/pie")%>