<%- include("templates/encabezado")%>
<h1>Creación de base de datos</h1>
<div class="container">
    <div class="panel panel-default">
        <button id="btnAgregarProducto" class="boton" onclick="location.href='/agregarBD'">Agregar BD</button>
        <button id="btnAgregarUsuario" class="boton" onclick="location.href='/eliminarBD'">Eliminar BD</button>
        <button id="btnMostrar" class="boton" onclick="location.href='/mostrartablas'">Mostrar tablas </button>
    </div> 
</div>
<%- include("templates/pie")%>