<%- include("templates/encabezado") %>

<h1>Listado de Tablas en la Base de Datos</h1>

<table>
    <thead>
        <tr>
            <th>Nombre de la Tabla</th>
        </tr>
    </thead>
    <tbody>
        <h1>Hola</h1>
    </tbody>
</table>
<%- include("templates/pie") %>


