<%- include("templates/encabezado")%>
<div class="content">
    <h2>Tablas de la Base de Datos</h2>
    <table id="tables-table">
        <thead>
            <tr>
                <th>Nombre de la Base de Datos</th>
                <th>Nombre de la Tabla</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las tablas se agregarán aquí dinámicamente -->
        </tbody>
    </table>
</div>
<%- include("templates/pie")%>