<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="http://localhost:3000/css/form.css">
    <link rel="stylesheet" href="http://localhost:3000/css/estilos.css">
    <link rel="stylesheet" href="http://localhost:3000/css/estilosTabla.css">
    <link rel="stylesheet" href="http://localhost:3000/css/creatab.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/formulario.js" defer></script>
    <script src="js/tabBd.js" defer></script>
    <script src="js/BDtab.js" defer></script>

    <div class="navegacion">
        <a href="/"><h1 class="opcion">SAT-BD</h1></a>
        <a class="user" href="/registro"><i class="fa-solid fa-user"></i></a>
    </div>
    <div class="menu2">
        <menu>
            <a href="/agregarBaseDeDatos"><div class="opcion">Crear BD</div></a>
            <a href="/mostrarBasesDeDatos"><div class="opcion">Las BD</div></a>
        </menu>
    </div>
</head>
<body>